<div class="w-full flex justify-center">
  <div class="flex flex-col m-auto">
    <div class="m-auto">
      <%= image_tag "keyboard", size: "400x400" %>
    </div>
    <div class="title my-10">
      Welcome, to typecraft
    </div>
  </div>
</div>
