<div class="h-full min-h-screen w-full bg-darker-800">
  <div class="bg-darker-600 pt-10 sm:px-10 px-4 pb-20">
    <div class="max-w-5xl m-auto">
      <div class="text-vanHelsing-600 font-black mr-20 font-serif sm:text-7xl text-4xl sm:my-10 my-4">
        Ahem, is this thing on?
      </div>
      <div class="text-lg sm:text-2xl text-lincoln-50 font-light">
        Typecraft is a community made by developers for developers. I <b>love</b> programming.
        And I want to share that love with others. While having fun. or, you know, whatever
      </div>
    </div>
  </div>
  <div class="bg-light-100 pt-10 sm:px-10 px-4 pb-20">
    <div class="max-w-5xl m-auto">
      <div class="flex flex-row justify-start gap-8 mt-20">
        <div class="">
          <%= image_tag "headshot.png", size: "400x400" %>
        </div>
        <div class="flex flex-col max-w-2xl">
          <div class="text-darker-700 font-black font-serif sm:text-6xl text-4xl">
            About Chris Power
          </div>
          <div class="text-lg sm:text-2xl text-darker-800 font-light mt-10">
            <div class="">
              I am  a software developer who is passionate about code quality, beautiful design, and creating amazing products.
            </div>
            <div class="mt-10">
              I'm also a human being with a beautiful wife and two babies! I currently live in southern Connecticut and mostly work out of NYC. When I'm not working, I'm usually trying to golf, or sneaking away to my lair to practice the dark arts
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="bg-darker-800 pt-10 sm:px-10 px-4 pb-20">
        <div class="max-w-5xl m-auto">
          <div class="flex flex-row justify-start gap-8 mt-20">
            <div class="flex flex-col align-middle max-w-2xl">
              <div class="text-purple-300 font-black font-serif sm:text-6xl text-4xl">
                About typecraft
              </div>
              <div class="text-lg sm:text-2xl text-lincoln-50 font-light mt-10">
                <div class="">
                  I wanted a way to share my programming experience with everyone. And, also, I wanted some friends.
                </div>
                <div class="mt-10">
                  So I started a youtube channel called "Chris Power". And eventually, I realized, its not about me. It's about a community of programmers coming together to learn and grow. So I made a new name for the youtube channel, "typecraft". It's the craft of typing... get it?
                </div>
                <div class="mt-10">
                  I don't think you get it. whatever...
                </div>
              </div>
            </div>
            <div class="">
              <%= image_tag "keyboard.png", size: "400x400" %>
            </div>
          </div>
        </div>
      </div>
</div>
